// Machine / user-specific input settings.
input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.6
    }

    mouse {
        accel-speed 0.4
    }

    workspace-auto-back-and-forth
    focus-follows-mouse max-scroll-amount="0%"
}

gestures {
    hot-corners {
        off
    }
}
